body {
    background-color:#095256;
    color: #c0b298;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-top: 10%;
    min-height: auto;
}

/* title */
#container-intro{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

 .typewriter {
    display:inline-block;
    width: 17ch; 
    animation: typing 3s steps(30), blink 1s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    font-size: 32px;
    line-height: 5px;
    margin-top: 10px;
    margin: 40px;
    align-items: center;
  }
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  } 
.intro-span{
    display: flex;
    align-items: center;
    height: auto;
}
#intro-title{
    color:#a5a58d; 
    margin: 40px;
    margin-top: -36px;
    font-weight: 300;
    font-size: 28px;
}
/* CSS */
button{
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #a5a58d;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

#message-link{
    color: #ddbea9;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 30px;
    border-radius: 4px;
    cursor:pointer;
    text-decoration: none;
    align-self: center;
    margin: 40px;
}
#an{
    color:#222255;
    background-color: transparent;
    margin-top: -30px;
}

/* navigation bar */
.container{
    display: flex;
    flex-direction: column;
}
#navbar{
    list-style-type: none;
    margin: 25px;
    flex-wrap: wrap;
    width: 120px;
    position: fixed;
    right: 0;
    bottom: 0;
}
#navbar a{
    color: #ddbea9;
    font-size: 18px;
}
#navbar :hover{
    color: #a5a58d;
}

/* 
intro section */
#about{
    color: #a5a58d;
    padding: 10px;
    padding-top: 250px;
    max-width: 600px;
    margin: 5px;
    font-size: 50px;
    flex-wrap: wrap;
}
.container-2{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
#about-descript{
    font-size: 22px;
    padding: 10px;
    margin: 0;
    max-width: 600px;
    flex-wrap: wrap;
    text-align: justify;
}
#myself{
    max-width: 300px;
    height: auto;
    border-radius: 30px;
    margin-left: 30px;
    box-shadow: 6px 13px 23px -5px rgb(0 0 0 / 50%);
    border: none;
    flex-wrap: wrap;
}
.lists{
    border: solid .5px #a5a58d;
    padding: 10px;
    list-style-type: none;
}
/* skills section */
.container-div{
    display: flex;
    flex-direction: column;
    margin: auto;
}
#sk-title{
    color: #a5a58d;
    font-size: 50px;
    max-width:600px;
    padding-top: 80px; 
    margin: 5px;  
}
#sk-list{
    font-size: 20px;
    font-weight: 700px;
    line-height: 1.5;
    list-style-type: none;
    flex-wrap: wrap;
    margin: -5px;
}
/* projects section */
#proj-title{
    color: #a5a58d;
    font-size: 50px;
    padding: 10px;
    padding-top: 80px;
}
#proj-list{
    list-style-type: none;
    flex-wrap: wrap;
    margin: -5px;
    text-decoration: none;
}
#proj-list :hover{
    color:#a5a58d;
}
/* connect section */
#connect{
    color: #a5a58d;
    font-size: 50px;
    padding: 10px;
    padding-top: 80px;
    min-height: auto;
    display: flex;
    
}
.container-6{
    display: flex;
    flex-direction: row;
    justify-items: center;
    height: 300px;
}

#connect-img{
    color: #a5a58d;
    max-width: 50px;
    height: auto;
}

/* leave a message section */
/* #message-div{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}
#mess-sect{
    color: #a5a58d;
    font-size: 50px;
    padding-top: 80px;
    padding: 5px;
}
#container-5{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}
#mess-sect-2{
    font-size: 50px;
    padding-top: 80px;
    padding: 10px;
}
#message-list-2{
    flex-wrap: wrap;
    font-size: 20px;
}
#sub-button{
    font-size: 20px;
    font-weight: bolder;
    color: #ddbea9;
    text-decoration: none;
    border-radius: 4px;
    align-self: center;
}

form{
    margin: 20px;
}
.LAM{
    font-size: 20px;
    font-weight: 700px;
    padding: 10px;
    margin: 10px;
    border: none;
}
input{
    background-color: #a5a58d;
    border-radius: 10px;
    border: none;
}
textarea{
    background-color: #a5a58d;
    border-radius: 10px;
    border: none;
} */
h2, img {
    opacity: 0; 
    position: relative;
    bottom: -40px;
    transition: all 0.8s ease-out;
}
.show {
    opacity: 1;
    bottom: 0;
}
/* .title(1) h2.show{
    transition-delay: 0.5s;
} */
#foot{
    text-align: center;
    color: #ddbea9;
    position: relative;
    width: 100%;
    display: block;
}
p.copyright {
    position: absolute;
    width: 100%;
    color: #a5a58d;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
}
#footer-menu{
    display: block;
    margin-top: 15px;
    align-content: center;  
}
.menu-item{
    list-style-type: none;
    display: inline-block;
    align-items: center;  
}

@media only screen and (max-width: 992px) {
    html, body {
        overflow-x:hidden;
     }
    body{
    background-color:#fff1e6;
    color: #ddbea9;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 24px;  
    align-items: center;
}
 #moon-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} 
#container-intro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.typing-effect{
    display:block;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 50%;
    font-size: 40px;
    line-height: 10px;
}
#navbar{
    display: none;
}
 #about{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 80px;
} 
#myself{
    display: none;
}
#container-3{
    display: flex;
}
#job-list{
    align-items: center;
}
#title{
    align-self: center;
    width: 40%;
    font-size: medium;
}
#locat{
    align-items: center;
    width: 50%;
}
#time{
    font-size: small;
    align-self:center;
    width: 20%;
}
#list-div{
    align-items: center;
}
#exp-sect{
    font-size: medium;
    align-items: center;
    width: 90%;
}
}